/* ANIMACIONES */

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-weight: lighter;
    background-color: #E0FBFC;
}

header {
    border-radius: 10px;
}

nav {
    margin-left: 0;
    margin-top: 0;
    background-color: #98C1D9;
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
}

nav ul li {
    padding: 1rem;
    margin: 0.3rem;
}

nav ul li a {
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
    color: black;
}

ul li:hover {
    background-color: #B1D0E2;
    border-radius: 5px;
}

ul li:hover a {
    color: black;
    border-radius: 5px;
}

ol li {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
}

ol li:hover a {
    font-weight: bold;
    color: black;
}

.img__Menu {
    width: 2rem;
    height: 2rem;
}


/* FOOTER */

footer {
    background-color: #98C1D9;
}

footer p {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.iconsFooter {
    height: 3rem;
    width: 3rem;
    margin-left: 0.5rem;
}

.footer__containerIcon {
    display: flex;
    flex-flow: row-reverse;
}

.footer__firstText {
    margin-top: 1rem;
}

.cont {
    padding: 4rem;
}


/*INDEX*/

#carousel-labelText1 {
    font-family: 'Caveat', cursive;
    font-size: 6rem;
    color: black;
    text-align: center;
    padding-bottom: 42rem;
}

#carousel-labelText2 {
    font-family: 'Caveat', cursive;
    font-size: 6rem;
    color: black;
    text-align: center;
    padding-bottom: 5rem;
}

#carousel-labelText3 {
    font-family: 'Caveat', cursive;
    font-size: 6rem;
    color: black;
    text-align: start;
    padding-bottom: 45rem;
}

#carousel {
    margin-top: 5rem;
}

.contFrase {
    border-radius: 5px;
    transition: 0.7s;
    margin: 1.5rem;
    margin-bottom: 5rem;
    background-color: #EE6C4D;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contFrase:hover {
    transform: scale(1.1);
}

.queSomos {
    border-radius: 5px;
    padding: 3rem;
    margin-bottom: 6rem;
    margin-top: 5rem;
    background-color: #98C1D9;
    transition: 1s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.queSomos:hover {
    transform: scale(1.1);
}

.frase {
    text-align: center;
    margin: 20px;
    color: black;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}

.textoIndex {
    color: black;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

.subtitulo {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 2rem;
    font-size: 5rem;
}

#airplane {
    position: absolute;
    width: 30rem;
    bottom: 0rem;
    top: -1rem;
    height: 21rem;
    z-index: 1;
    margin: 1rem;
    transition: 2s;
    overflow: visible;
}

#columna {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    padding-left: 0;
    height: 21rem;
    background-image: url("../src/icons/landing1.png");
    background-repeat: repeat-x;
    background-position: center;
}

#columna:hover #airplane {
    transform: translateX(300%);
}

.qa_airplane {
    width: 15rem;
    height: 15rem;
}

#container {
    margin-top: 10rem;
}

.tarjetaBody {
    background-color: #F3927A;
}

.tarjeta {
    margin: 2rem;
    margin-bottom: 5rem;
    transition: 0.5s;
    font-family: 'Roboto Slab', serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tarjeta:hover {
    transform: scale(1.1);
}

.boton {
    background-color: #3D5A80;
    color: white;
    border-radius: 9px;
    width: 70%;
    font-size: 1.3rem;
    margin: 0.5rem;
    font-family: 'Roboto Slab', serif;
}

.boton:hover {
    background-color: #C9D5E5;
}

.link {
    margin: 1rem;
    color: black;
    text-decoration: none;
    font-size: 2rem;
    display: block;
    text-align: center;
}


/* DESTINOS */

.destinos__Subtitulo {
    font-family: 'Roboto Slab', serif;
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-size: 5rem;
}

.destinos__SubtituloPersonajes {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 5rem;
    font-size: 5rem;
}

.destinos__CardSubtitulo {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-family: 'Roboto Slab', serif;
}

.destinos__CardTexto {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
}

.destinos__Card {
    padding: 3rem;
    margin: 4rem;
}

#card__Azul {
    background-color: #98C1D9;
}

#img_Personajes {
    width: 26rem;
    height: 30rem;
}

.destinos__CardPersonajes {
    background-color: #EE6C4D;
    padding: 3rem;
    border-radius: 5px;
}

#titulo_Card {
    margin-top: 1rem;
    font-size: 3rem;
}


/*CONTACTO*/

form label {
    font-size: 2rem;
}

#form {
    margin-top: 8rem;
    margin-left: 1.5rem;
}

#input_Forms {
    margin-top: 2rem;
}

#btn-form {
    background-color: #98C1D9;
}


/*QA*/

.qa_container {
    padding: 2rem;
    margin: 2rem;
    margin-right: 2rem;
    background-color: #EE6C4D;
    border-radius: 6px;
    z-index: 1;
}

.car {
    position: absolute;
    margin-left: 4rem;
    margin-top: 4rem;
    width: 28rem;
    height: 25rem;
    transition: 3s;
    overflow: hidden;
}

#card_izquierda:hover .car {
    transform: translate(305%);
}

.bike {
    position: absolute;
    margin-right: 10rem;
    margin-top: 10rem;
    width: 20rem;
    height: 17rem;
    transition: 3s;
    overflow: hidden;
}

#card_derecha:hover .bike {
    transform: translate(-430%);
}

#motorbike {
    margin-top: 18rem;
    width: 20rem;
    height: 17rem;
    margin-left: 20rem;
}

#boat {
    margin-top: 10rem;
}

.container_Preguntas {
    margin-top: 10rem;
}

.preguntas {
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    margin: 1rem;
    font-weight: bold;
}

.respuesta {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    margin: 1rem;
}

.icons_QA {
    width: 20rem;
}

#card_derecha {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-right: 0;
}

#card_izquierda {
    display: flex;
    justify-content: flex-start;
    margin-right: 0;
}


/*RESPONSIVE*/

@media (max-width: 575.98px) {
    .bike {
        display: none;
    }
    .car {
        display: none;
    }
    .frase {
        font-size: 2rem;
    }
    .textoIndex {
        font-size: 1.5rem;
    }
    .subtitulo {
        font-size: 2.5rem;
    }
    .queSomos {
        margin-top: 1rem;
        transition: none;
    }
    .queSomos:hover {
        transform: scale(1);
    }
    #columna {
        display: none;
    }
    #airplane {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .bike {
        display: none;
    }
    .car {
        display: none;
    }
    #columna {
        display: none;
    }
    #airplane {
        display: none;
    }
    .preguntas {
        font-size: 1rem;
    }
    #carousel {
        margin-top: 2rem;
    }
    #carousel-labelText1 {
        display: none;
    }
    #carousel-labelText2 {
        display: none;
    }
    #carousel-labelText3 {
        display: none;
    }
    .respuesta {
        font-size: 0.5rem;
    }
    #card_derecha {
        justify-content: center;
    }
    #card_izquierda {
        justify-content: center;
    }
    .qa_container {
        padding: 1rem;
    }
    .destinos__Subtitulo {
        font-size: 2rem;
    }
    footer p {
        font-size: 1rem;
    }
}

@media (max-width: 768px) and (max-width: 991.98px) {
    .bike {
        display: none;
    }
    .car {
        display: none;
    }
    #columna {
        display: none;
    }
    #airplane {
        display: none;
    }
    #carousel {
        margin-top: 3rem;
    }
    #carousel-labelText1 {
        display: none;
    }
    #carousel-labelText2 {
        display: none;
    }
    #carousel-labelText3 {
        display: none;
    }
    .preguntas {
        font-size: 1.5rem;
    }
    .respuesta {
        font-size: 1rem;
    }
    #card_derecha {
        justify-content: center;
        margin: 1rem;
    }
    #card_izquierda {
        justify-content: center;
        margin: 1rem;
    }
    #iconos_Footer {
        flex-flow: row;
    }
    footer p {
        font-size: 1rem;
    }
    .cont {
        padding: 4rem;
    }
    .destinos__Card {
        padding: 2rem;
    }
    .iconsFooter {
        height: 2rem;
        width: 2rem;
    }
    .destinos__Subtitulo {
        font-size: 4rem;
    }
    .destinos__CardSubtitulo {
        margin-bottom: 0.5rem;
        font-size: 2rem;
    }
    .destinos__CardTexto {
        font-size: 1.5rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .bike {
        display: none;
    }
    .car {
        display: none;
    }
    #columna {
        display: none;
    }
    #airplane {
        display: none;
    }
    .preguntas {
        font-size: 2rem;
    }
    #carousel {
        margin-top: 4rem;
    }
    #carousel-labelText1 {
        display: none;
    }
    #carousel-labelText2 {
        display: none;
    }
    #carousel-labelText3 {
        display: none;
    }
    .respuesta {
        font-size: 1.5rem;
    }
    #iconos_Footer {
        flex-flow: row;
    }
    footer p {
        font-size: 1.5rem;
    }
    .destinos__Subtitulo {
        margin-top: 10rem;
    }
}

@media (min-width:1200px) {
    .car {
        margin-bottom: 10rem;
    }
}