/* FOOTER */
/*INDEX*/
/* QA */
/* LUGARES */
/* Destinos */
html {
	font-size: 62.5%;
}
body {
	margin: 0;
	font-family: 'Zilla Slab', serif;
	font-weight: lighter;
	background-color: #E0FBFC;
}
header {
	border-radius: 10px;
}
nav {
	margin-left: 0;
	margin-top: 0;
	background-color: #98C1D9;
	width: 100%;
	ul {
		display: flex;
		flex-direction: row-reverse;
		list-style: none;
		li {
			padding: 1rem;
			margin: 0.3rem;
			a {
				font-size: 1.5rem;
				font-family: 'Roboto Slab', serif;
			}
		}
	}
}

a {
	text-decoration: none;
	color: black;
}

ul {
	li {
		&:hover {
			a {
				color: black;
				border-radius: 5px;
			}
			background-color: #B1D0E2;
			border-radius: 5px;
		}
	}
}


ol {
	li {
		text-decoration: none;
		color: black;
		font-size: 1.5rem;
		font-family: 'Roboto Slab', serif;
		&:hover {
			a {
				font-weight: bold;
				color: black;
			}
		}
	}
}
.img__Menu {
	width: 2rem;
	height: 2rem;
}
footer {
	margin-top: 2rem;
	background-color: #98C1D9;
	p {
		font-size: 1.5rem;
		font-family: 'Roboto', sans-serif;
	}
}
.iconsFooter {
	height: 3rem;
	width: 3rem;
	margin-left: 0.5rem;
}
.footer__containerIcon {
	display: flex;
	flex-flow: row-reverse;
}
.footer__firstText {
	margin-top: 1rem;
}
.cont {
	padding: 4rem;
}
#imgTierra {
	margin-top: 10rem;
	margin-bottom: 5rem;
	max-width: 30%;
	max-height: 30rem;
	position: relative;
	z-index: 2;
}
#avionTierra {
	width: 22rem;
	height: 14rem;
	transition: 1s;
	position: absolute;
	top: 10rem;
	z-index: 1;
}
.contFrase {
	border-radius: 5px;
	transition: 0.7s;
	margin: 1.5rem;
	margin-bottom: 5rem;
	background-color: #EE6C4D;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	&:hover {
		transform: scale(1.1);
	}
}
.queSomos {
	border-radius: 5px;
	padding: 3rem;
	margin-bottom: 6rem;
	margin-top: 5rem;
	background-color: #98C1D9;
	transition: 1s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	&:hover {
		transform: scale(1.1);
	}
}
.frase {
	text-align: center;
	margin: 20px;
	color: black;
	font-size: 3rem;
	font-family: 'Roboto', sans-serif;
}
.textoIndex {
	color: black;
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
}
.subtitulo {
	font-family: 'Roboto Slab', serif;
	margin-bottom: 2rem;
	font-size: 5rem;
}
#airplane {
	position: absolute;
	width: 30rem;
	bottom: 0rem;
	top: -1rem;
	height: 21rem;
	z-index: 1;
	margin: 1rem;
	transition: 2s;
	overflow: visible;
}
#columna {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-flow: row;
	padding-left: 0;
	height: 21rem;
	background-image: url("../src/icons/landing1.png");
	background-repeat: repeat-x;
	background-position: center;
	&:hover {
		#airplane {
			transform: translateX(300%);
		}
	}
}
.preguntas {
	margin: 1rem;
	font-weight: bold;
}
.respuesta {
	margin: 1rem;
}
.qa_container {
	font-size: 2rem;
	margin: 2rem;
	background-color: #EE6C4D;
	border-radius: 6px;
}
.qa_airplane {
	width: 15rem;
	height: 15rem;
}
#container {
	margin-top: 10rem;
}
.tarjetaBody {
	background-color: #F3927A;
}
.tarjeta {
	margin: 2rem;
	transition: 0.5s;
	font-family: 'Roboto Slab', serif;
	animation-name: opacidad;
	animation-duration: 3s;
	animation-iteration-count: 1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	&:hover {
		transform: scale(1.1);
	}
}
.boton {
	background-color: #3D5A80;
	color: white;
	border-radius: 9px;
	width: 70%;
	font-size: 1.3rem;
	margin: 0.5rem;
	font-family: 'Roboto Slab', serif;
	&:hover {
		background-color: #C9D5E5;
	}
}
.link {
	margin: 1rem;
	color: black;
	text-decoration: none;
	font-size: 2rem;
	display: block;
	text-align: center;
}
.destinos__Carousel {
	width: 100%;
	height: 85rem;
}
.destinos__Subtitulo {
	font-family: 'Roboto Slab', serif;
	margin-top: 2rem;
	font-size: 5rem;
}
.destinos__CardSubtitulo {
	margin-bottom: 1rem;
	font-size: 3rem;
	font-family: 'Roboto Slab', serif;
}
.destinos__CardTexto {
	font-size: 2.5rem;
	font-family: 'Roboto', sans-serif;
}
.destinos__Card {
	padding: 3rem;
}
#card__Azul {
	background-color: #98C1D9;
}
#img_Personajes {
	width: 26rem;
	height: 30rem;
}
.destinos__CardPersonajes {
	background-color: #EE6C4D;
	padding: 3rem;
	border-radius: 5px;
}
#titulo_Card {
	margin-top: 1rem;
	font-size: 3rem;
}
@media (max-width: 576px) {
	.frase {
		font-size: 2rem;
	}
	.textoIndex {
		font-size: 1.5rem;
	}
	.subtitulo {
		font-size: 2.5rem;
	}
	.queSomos {
		margin-top: 1rem;
		transition: none;
		&:hover {
			transform: scale(1);
		}
	}
	#columna {
		display: none;
	}
	#airplane {
		display: none;
	}
}
@media (max-width: 768px) {
	#columna {
		display: none;
	}
	#airplane {
		display: none;
	}
}
